body{
  background-color: rgb(28, 26, 23);
  color:aliceblue; 
}

/* Kích hoạt tính năng cuộn mượt cho toàn bộ trang */
html {
  scroll-behavior: smooth;
}

/* Chuyển đổi trang mượt mà */

@view-transition {
  navigation: auto;
}


/* Đổi tên tiêu đề mặc định của github tham khảo Source - https://stackoverflow.com/a/26889106
Posted by G-Cyrillus
Retrieved 2026-09-17, License - CC BY-SA 3.0 */

h1 {
  text-indent:-9999px;
}

h1:before {
  text-indent:0;
  content:'Make web by file REAME.md in Github';
  float:left;
} 


/* Chèn bảng */

.table-container table{
  margin: 0px auto;  /* căn giữa bảng */
  border-collapse: collapse;
  width: 800px;
  font-size: 20px;
}

.table-container table th{
  font-weight:lighter;
  border-bottom: 1px solid black;
}

th, td {
          /* Adds a right border to all cells */
          border-right: 1px solid black;  
        	padding: 5px; 
}

/* Removes the border from the very last column */
th:last-child, td:last-child {
          border-right: none; 
}

caption {
  caption-side: bottom;
  margin-top: 5px;
  font-size: 20px; 
}

/* Chèn ảnh */

figure{
  margin: 0 auto;
  text-align: center;
  display: block;
}

figure img{
  max-width: 80%;
  max-height: 80%;
}

figure figcaption {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
}

/* Mathjax */

.MathJax {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

/* Thêm thuộc tính này cho phần tử/phương trình nhận tham chiếu */
 
[id^="eq-"], 
[id] { 
    /* Đặt giá trị bằng chiều cao Nav (? px) + khoảng hở mong muốn (ví dụ 15px) */
    scroll-margin-top: 15px; 
}

/* footer */

footer{
    padding-top: 1vh;
}

.footerNav{
    margin: 20px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a{
    color:rgb(255, 253, 252);
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.6;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 3;
    color:rgb(50, 78, 192); 
}
.footerBottom{
    margin-bottom: 20px;
    text-align: center;
}

.footerBottom p{
    font-size: 16px;
    color:rgb(255, 253, 252);
}

.designer{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
}